@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat;

<h2>Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Flavors.Count == 0)
{
  <p>This treat does not contain any additional flavors</p>
}
else
{
  <h4>Flavors:</h4>
  <ul>
  @foreach(var join in Model.Flavors)
  {
    <li>@join.Flavor.Description</li>
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to treats", "Index")</p>
<p>@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete treat", "Delete", new { id = Model.TreatId })</p>
@using (Html.BeginForm("LogOff", "Account"))
{
  <input type="submit" class="btn btn-default" value="Log out" />
}