@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h4>Add a new Flavor</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description , new { @class = "textBox"})
    @Html.TextBoxFor(model => model.Description , new { @class = "textBox"})

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Add new flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>